[Unit]
Description=waypath launcher
After=roscore.service
PartOf=roscore.service

[Service]
User=jtcx
Type=simple
KillMode=process
TimeoutStopSec=1
KillSignal=SIGTERM
ExecStartPre=/bin/systemctl is-active roscore
ExecStart=/usr/local/share/health_monitor/ros_wrapper.sh rosrun waypath_record waypath_record
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
