<?xml version="1.0"?>
<robot name="ultrasonar" xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="ultrasonar" params="prefix parent *origin range_min range_max samples resolution fps fov visualize">

    <link name="${prefix}_link"/>

    <joint name="${prefix}_joint" type="fixed">
        <xacro:insert_block name="origin" />
        <parent link="${parent}"/>
        <child link="${prefix}_link" />
    </joint>

    <gazebo reference="${prefix}_link">        
    <sensor type="ray" name="sonar">
        <pose>0 0 0 0 0 0</pose>
        <visualize>${visualize}</visualize>
        <update_rate>${fps}</update_rate>
        <ray>
            <scan>
            <horizontal>
                <samples>${samples}</samples>
                <resolution>1</resolution> 
                <min_angle>-${fov * PI / 180}</min_angle>
                <max_angle>${fov * PI / 180}</max_angle>
            </horizontal>
            <vertical>
                <samples>${samples}</samples>
                <resolution>1</resolution> 
                <min_angle>-${fov * PI / 180}</min_angle>
                <max_angle>${fov * PI / 180}</max_angle> 
            </vertical>
            </scan>
            <range>
            <min>${range_min}</min>
            <max>${range_max}</max>
            <resolution>${resolution}</resolution>
            </range>
        </ray>
        <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
            <gaussianNoise>0.005</gaussianNoise>
            <alwaysOn>true</alwaysOn>
            <updateRate>${fps}</updateRate>
            <topicName>ultrasonar/${prefix}</topicName>
            <frameName>/${prefix}_link</frameName>
            <radiation>INFRARED</radiation>
            <fov>${fov * PI / 90}</fov>
        </plugin>
    </sensor>  
    </gazebo>

    </xacro:macro>

</robot>